<!DOCTYPE html>
<html>
<head>
    <title>Gridded Data Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script>
    <style>
        #mapid { height: 60vh; }
    </style>
</head>
<body>
    <div id="mapid"></div>
    
    <form id="api-call-form" action="/call-api" method="post">
        <h3>NOAA NClimGrid API Call</h3>
        
        <h4>NOAA API Parameters</h4>
        <label for="startdate">Start Date:</label>
        <input type="date" id="startdate" name="startdate"><br>

        <label for="enddate">End Date:</label>
        <input type="date" id="enddate" name="enddate"><br>

        <label for="datatypeid">Data Type IDs:</label>
        <input type="text" id="datatypeid" name="datatypeid" placeholder="Enter datatypes, separated by commas"><br>

        <h4>Additional Parameters</h4>
        
        <label for="aggregation">Aggregation Time Type:</label>
        <select name="aggregation">
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
        </select><br>
        
        <label for="prcp">Precipitation Aggregation:</label>
        <select name="prcp">
            <option value="mean">Mean</option>
            <option value="sum">Sum</option>
            <option value="min">Min</option>
            <option value="max">Max</option>
        </select><br>
        
        <label for="tavg">Average Temperature Aggregation:</label>
        <select name="tavg">
            <option value="mean">Mean</option>
            <option value="sum">Sum</option>
            <option value="min">Min</option>
            <option value="max">Max</option>
        </select><br>
        
        <label for="tmin">Minimum Temperature Aggregation:</label>
        <select name="tmin">
            <option value="mean">Mean</option>
            <option value="sum">Sum</option>
            <option value="min">Min</option>
            <option value="max">Max</option>
        </select><br>
        
        <label for="tmax">Maximum Temperature Aggregation:</label>
        <select name="tmax">
            <option value="mean">Mean</option>
            <option value="sum">Sum</option>
            <option value="min">Min</option>
            <option value="max">Max</option>
        </select><br>
        
        <label for="format">Dataframe Format:</label>
        <select name="format">
			<option value="wide">Wide</option>
            <option value="tall">Tall/Long</option>
        </select><br>
        
        <label for="direct-download">Direct Download:</label>
        <select name="direct_download">
            <option value="FALSE">Metadata</option>
            <option value="CSV">CSV</option>
            <option value="JSON">JSON</option>
        </select><br>

        <h4>Credentials</h4>
        <!-- Checkboxes for call functions -->
        <label><input type="checkbox" name="call_api" checked> Call API</label><br>
        <label><input type="checkbox" name="call_completeness" checked> Completeness Check</label><br>
        <label><input type="checkbox" name="call_aggregation" checked> Aggregation</label><br>

        <button type="submit">Submit</button>
    </form>

    <script>
        var map = L.map('mapid').setView([45.0, -93.5], 9);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 18,
        }).addTo(map);

        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);
        var drawControl = new L.Control.Draw({
            draw: {
                polygon: false,
                polyline: false,
                circle: false,
                circlemarker: false,
                marker: false,
                rectangle: true
            },
            edit: {
                featureGroup: drawnItems,
                remove: true
            }
        });
        map.addControl(drawControl);

        var boundingBox = null; // Store bounding box coordinates

        map.on(L.Draw.Event.CREATED, function (e) {
            var type = e.layerType,
                layer = e.layer;

            if (type === 'rectangle') {
                var bounds = layer.getBounds();
                var southWest = bounds.getSouthWest(),
                    northEast = bounds.getNorthEast();

                boundingBox = {
                    minlat: southWest.lat,
                    minlon: southWest.lng,
                    maxlat: northEast.lat,
                    maxlon: northEast.lng
                };

                drawnItems.clearLayers(); // Optionally clear previous layers
                drawnItems.addLayer(layer); // Add current bounding box
            }
        });

        document.getElementById('api-call-form').addEventListener('submit', function(event) {
            event.preventDefault();
            // Ensure bounding box is selected
            if (!boundingBox) {
                alert('No bounding box selected. Please select an area before submitting.');
                return;
            }
            // Prepare the data object
            var data = {
                'Endpoint': 'NOAA_GRID_DATA',
                'Call_Direct_Download': this.direct_download.value,
                'API_Arguments': {
                    'startdate': this.startdate.value,
                    'enddate': this.enddate.value,
                    'datatypeid': this.datatypeid.value
                },
                'Call_API': this.call_api.checked,
                'Call_Completeness': this.call_completeness.checked,
                'Call_Aggregation': this.call_aggregation.checked,
                'Additional_Arguments': {
                    'aggregation' : {
                        'time' : this.aggregation.value,
                        'prcp' : this.prcp.value,
                        'tavg' : this.tavg.value,
                        'tmin' : this.tmin.value,
                        'tmax' : this.tmax.value
                    },
                    'format' : this.format.value,
                    'box': boundingBox // Include the bounding box coordinates
                } 
            };

            // Fetch call to the NOAA API endpoint
            fetch('/NOAA_API_CALL', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(response => {
                const contentType = response.headers.get("content-type");
                if (contentType && contentType.includes("application/json")) {
                    return response.json().then(json => ({ data: json, type: 'json' }));
                } else {
                    return response.text().then(text => ({ data: text, type: 'csv' }));
                }
            }).then(({ data, type }) => {
                // Create a Blob from the data
                let blob = new Blob([data], { type: type === 'json' ? 'application/json' : 'text/csv' });
                let url = URL.createObjectURL(blob);
                let a = document.createElement('a');
                a.href = url;
                a.download = type === 'json' ? 'data.json' : 'data.csv';
                document.body.appendChild(a); // Append the anchor to body
                a.click(); // Simulate click to download
                a.remove(); // Clean up
                URL.revokeObjectURL(url); // Free up memory
            }).catch(err => console.error('API error:', err));
        });
    </script>
</body>
</html>
