<!DOCTYPE html>
<html>
<head>
    <title>Interactive Stations Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw/dist/leaflet.draw.css"/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script>
    <style>
        #mapid { height: 60vh; }
        #stations-list { margin-top: 20px; }
		#highlight-stations { display: none; }
    </style>
</head>
<body>
    <div id="mapid"></div>
	
	<div id="selection-controls">
    <input type="radio" id="select-bbox" name="selection-mode" value="Bounding Box" checked>
    <label for="select-bbox">Bounding Box</label>
    <input type="radio" id="select-list" name="selection-mode" value="List">
    <label for="select-list">List</label>
    <input type="text" id="station-names" placeholder="Enter station IDs, separated by commas" style="display:none;">
	</div>

	<button id="highlight-stations">Highlight Stations</button>
	
	<form id="api-call-form" action="/call-api" method="post">
		<h3>NOAA Database API Call</h3>
		
		<h4>NOAA API Parameters</h4>
		<label for="startdate">Start Date:</label>
		<input type="date" id="startdate" name="startdate"><br>

		<label for="enddate">End Date:</label>
		<input type="date" id="enddate" name="enddate"><br>

		<label for="datatypeid">Data Type IDs:</label>
		<input type="text" id="datatypeid" name="datatypeid" placeholder="Enter datatypes, separated by commas"><br>

		<h4>Additional Parameters</h4>
		
		<label for="aggregation">Aggregation Time Type:</label>
		<select name="aggregation">
			<option value="daily">Daily</option>
			<option value="weekly">Weekly</option>
			<option value="monthly">Monthly</option>
			<option value="yearly">Yearly</option>
		</select><br>
		
		<label for="prcp">Precipitation Aggregation:</label>
		<select name="prcp">
			<option value="mean">Mean</option>
			<option value="sum">Sum</option>
			<option value="min">Min</option>
			<option value="max">Max</option>
		</select><br>
		
		<label for="tavg">Average Temperature Aggregation:</label>
		<select name="tavg">
			<option value="mean">Mean</option>
			<option value="sum">Sum</option>
			<option value="min">Min</option>
			<option value="max">Max</option>
		</select><br>
		
		<label for="tmin">Minimum Temperature Aggregation:</label>
		<select name="tmin">
			<option value="mean">Mean</option>
			<option value="sum">Sum</option>
			<option value="min">Min</option>
			<option value="max">Max</option>
		</select><br>
		
		<label for="tmax">Maximum Temperature Aggregation:</label>
		<select name="tmax">
			<option value="mean">Mean</option>
			<option value="sum">Sum</option>
			<option value="min">Min</option>
			<option value="max">Max</option>
		</select><br>
		
		<label for="snow">Snowfall Aggregation:</label>
		<select name="snow">
			<option value="mean">Mean</option>
			<option value="sum">Sum</option>
			<option value="min">Min</option>
			<option value="max">Max</option>
		</select><br>
		
		<label for="snwd">Windspeed Aggregation:</label>
		<select name="snwd">
			<option value="mean">Mean</option>
			<option value="sum">Sum</option>
			<option value="min">Min</option>
			<option value="max">Max</option>
		</select><br>
		
		<label for="tobs">Temp Obs. Aggregation:</label>
		<select name="tobs">
			<option value="mean">Mean</option>
			<option value="sum">Sum</option>
			<option value="min">Min</option>
			<option value="max">Max</option>
		</select><br>
		
		<label for="format">Dataframe Format:</label>
		<select name="format">
			<option value="tall">Tall/Long</option>
			<option value="wide">Wide</option>
		</select><br>
		
		<label for="direct-download">Direct Download:</label>
		<select name="direct_download">
			<option value="FALSE">Metadata</option>
			<option value="CSV">CSV</option>
			<option value="JSON">JSON</option>
		</select><br>

		<h4>Credentials</h4>
		<!-- Checkboxes for call functions -->
		<label><input type="checkbox" name="call_db" checked> Call DB</label><br>
		<label><input type="checkbox" name="call_api" checked> Call API</label><br>
		<label><input type="checkbox" name="call_completeness" checked> Completeness Check</label><br>
		<label><input type="checkbox" name="call_fill_incomplete" checked> Fill Incomplete</label><br>
		<label><input type="checkbox" name="call_aggregation" checked> Aggregation</label><br>

		<!-- Database Credentials -->
		<label for="dbname">DB Name:</label>
		<input type="text" id="dbname" name="dbname" value="postgres"><br>

		<label for="dbuser">DB User:</label>
		<input type="text" id="dbuser" name="dbuser" value="postgres"><br>

		<label for="dbpassword">DB Password:</label>
		<input type="password" id="dbpassword" name="dbpassword" value="Passwordd"><br>

		<label for="dbhost">DB Host:</label>
		<input type="text" id="dbhost" name="dbhost" value="localhost"><br>

		<label for="dbport">DB Port:</label>
		<input type="text" id="dbport" name="dbport" value="5432"><br>
		
		<label for="apikey">NOAA API Key:</label>
		<input type="password" id="apikey" name="apikey" value="IzgpadcMrEYtDZiJDnBOfeARfEWoPEdO"><br>

		<input type="hidden" id="station-ids" name="station_ids" value="">

		<button type="submit">Submit</button>
	</form>


		
    <div id="stations-list"></div>
	<script>
		var map = L.map('mapid').setView([45.0, -93.5], 9);
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
			maxZoom: 18,
		}).addTo(map);

        // Function to fetch stations and optionally filter by bounding box
        function fetchStations(lat1, lon1, lat2, lon2, updateIds = false) {
            let url = '/stations';
            if (lat1 && lon1 && lat2 && lon2) {
                url += `?lat1=${lat1}&lon1=${lon1}&lat2=${lat2}&lon2=${lon2}`;
            }
            fetch(url)
                .then(response => response.json())
                .then(data => {
					console.log("Stations API response:", data);
					if (updateIds) {
						var ids = data.map(station => station.id);
						document.getElementById('station-ids').value = ids.join(',');
					}
                    if (lat1 && lon1 && lat2 && lon2) {
                        document.getElementById('stations-list').innerHTML = '<h4>Stations in Bounding Box:</h4>' + data.map(station => station.name + ' (' + station.id + ')').join('<br>');

                    } else {
                        data.forEach(station => {
                    // Using L.circleMarker here
                    L.circleMarker([station.latitude, station.longitude], {
                        radius: 5, // Size of the circle marker
                        fillColor: "Pink",
                        color: "#fb00ff",
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.8
						}).addTo(map)
                      .bindPopup(station.name + '<br>' + station.id);
                        });
                    }
                });
        }

        // Initial fetch to load all stations
        fetchStations();

		var drawnItems = new L.FeatureGroup();
		var highlightedStations = new L.LayerGroup().addTo(map); // Add this line to declare the layer group

		map.addLayer(drawnItems);
		var drawControl = new L.Control.Draw({
			draw: {
				polygon: false,
				polyline: false,
				circle: false,
				circlemarker: false,
				marker: false,
				rectangle: true
			},
			edit: {
				featureGroup: drawnItems,
				remove: true
			}
		});
		map.addControl(drawControl);

		map.on(L.Draw.Event.CREATED, function (e) {
			var type = e.layerType,
				layer = e.layer;

			if (type === 'rectangle') {
				var bounds = layer.getBounds();
				var southWest = bounds.getSouthWest(),
					northEast = bounds.getNorthEast();

				fetchStations(southWest.lat, southWest.lng, northEast.lat, northEast.lng, true);
				drawnItems.clearLayers(); // Optionally clear previous layers
				drawnItems.addLayer(layer); // Add current bounding box
			}
		});
		
		document.querySelectorAll('input[name="selection-mode"]').forEach((input) => {
			input.addEventListener('change', function() {
				const stationNamesInput = document.getElementById('station-names');
				const stationsListDiv = document.getElementById('stations-list');
				const highlightButton = document.getElementById('highlight-stations'); // Get the button element

				if (this.id === 'select-list') {
					stationNamesInput.style.display = 'block';
					highlightButton.style.display = 'block'; // Show the button
					drawnItems.clearLayers();
					stationsListDiv.innerHTML = '';
					document.getElementById('station-ids').value = ''; // Clear the hidden field when switching to list mode
				} else {
					stationNamesInput.style.display = 'none';
					stationNamesInput.value = '';
					highlightButton.style.display = 'none'; // Hide the button
					highlightedStations.clearLayers();
					fetchStations(undefined, undefined, undefined, undefined, true); // Fetch all stations and update the IDs
				}
			});
		});

		// Modify your highlightStationsById function
		function highlightStationsById(ids) {
			fetch('/stations')
				.then(response => response.json())
				.then(allStations => {
					const stationIds = ids.split(',').map(id => id.trim());
					const stationsToHighlight = allStations.filter(station => stationIds.includes(station.id.toString()));

					highlightedStations.clearLayers(); // Clear previous highlights
					stationsToHighlight.forEach(station => {
						var marker = L.circleMarker([station.latitude, station.longitude], {
							radius: 5,
							fillColor: "green",
							color: "#000",
							weight: 1,
							opacity: 1,
							fillOpacity: 0.8
						}).bindPopup(station.name);
						highlightedStations.addLayer(marker); // Add each marker to the layer group
					});
				});
		}
		
		document.getElementById('highlight-stations').addEventListener('click', function() {
			const ids = document.getElementById('station-names').value;
			if (ids) {
				document.getElementById('station-ids').value = ids; // Update hidden field when manually entering IDs
				highlightStationsById(ids);
			}
		});
		
		document.getElementById('api-call-form').addEventListener('submit', function(event) {
			event.preventDefault();
			// Ensure station IDs are provided
			var stationIDs = document.getElementById('station-ids').value;
			if (!stationIDs) {
				alert('No stations selected. Please select stations before submitting.');
				return;
			}
			// Prepare the data object
			var data = {
				'Endpoint': 'NOAA_DATA',
				'Call_Direct_Download': this.direct_download.value,
				'API_Arguments': {
					'startdate': this.startdate.value,
					'enddate': this.enddate.value,
					'datatypeid': this.datatypeid.value,
					'stationid': stationIDs // Ensure this is included
				},
				'Call_DB': this.call_db.checked,
				'Call_API': this.call_api.checked,
				'Call_Completeness': this.call_completeness.checked,
				'Call_Fill_Incomplete': this.call_fill_incomplete.checked,
				'Call_Aggregation': this.call_aggregation.checked,
				'DB_Credentials': {
					'dbname': this.dbname.value,
					'user': this.dbuser.value,
					'password': this.dbpassword.value,
					'host': this.dbhost.value,
					'port': this.dbport.value
				},
				'NOAA_API_KEY': this.apikey.value,
				'Additional_Arguments': {
					'aggregation' : {'time' : this.aggregation.value,
									 'PRCP' : this.prcp.value,
									 'TAVG' : this.tavg.value,
									 'TMIN' : this.tmin.value,
									 'TMAX' : this.tmax.value,
									 'SNOW' : this.snow.value,
									 'SNWD' : this.snwd.value,
									 'TOBS' : this.tobs.value
					},
					'format' : this.format.value
				} 
			};

			// Fetch call to the NOAA API endpoint
			fetch('/NOAA_API_CALL', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			}).then(response => {
				const contentType = response.headers.get("content-type");
				if (contentType && contentType.includes("application/json")) {
					return response.json().then(json => ({ data: json, type: 'json' }));
				} else {
					return response.text().then(text => ({ data: text, type: 'csv' }));
				}
			}).then(({ data, type }) => {
				// Create a Blob from the data
				let blob = new Blob([data], { type: type === 'json' ? 'application/json' : 'text/csv' });
				let url = URL.createObjectURL(blob);
				let a = document.createElement('a');
				a.href = url;
				a.download = type === 'json' ? 'data.json' : 'data.csv';
				document.body.appendChild(a); // Append the anchor to body
				a.click(); // Simulate click to download
				a.remove(); // Clean up
				URL.revokeObjectURL(url); // Free up memory
			}).catch(err => console.error('API error:', err));
		});
    </script>
</body>
</html>

